footer {
    background-color: var(--fx-header-color);
    width: 100vw;
    padding: var(--spacing-m);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 300px;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer > p {
    color: white;
}

footer > div > a {
    color: white;
    text-decoration: none;
    height: 30px;
    align-items: center;
}